:root {
  --dark-blue: #232d53;
  --blue: #486cf6;
}

.patientreg {
  display: flex;
}

.container {
  display: flex;
}

input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

#savebutton {
  font-size: 26px;
  height: 49px;
  width: 134px;
  background-color: var(--dark-blue);
  color: white;
  border-radius: 31px;
}

#check {
  height: 24px;
  width: 24px;
}

.left {
  height: 1080px;
  width: 339px;
  border: 1px solid black;
  background-color: var(--blue);
}

body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

.prfl {
  margin-left: 38px;
  display: flex;
  background-color: white;
  width: 263px;
  height: 84.37px;
  border-radius: 20px;
  margin-bottom: 1.5rem;
}

#line {
  width: 297px;
}

#profilepic {
  height: 55.99px;
  width: 56.63px;
  margin-left: 10px;
  margin-top: 14.19px;
  margin-bottom: 14.19px;
  border-radius: 15px;
}

.txt {
  width: 137px;
  margin-left: 1rem;
}

#name {
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  margin-top: 22px;
  margin-left: 10px;
}

#speci {
  margin-top: 0px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  color: grey;
  font-style: italic;
  padding-bottom: 5px;
}

.left > img {
  margin-left: 6rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

ul {
  margin-bottom: 1.5rem;
  list-style: none;
}

ul > li {
  text-align: center;
  width: 16rem;
  margin-bottom: 1rem;
  height: 1.8rem;
  padding-top: 0.7rem;
  border-radius: 20px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 27px;
  transition: background-color 0.3s ease;
}
ul > li:hover {
  background-color: var(--dark-blue);
}

.right {
  margin-left: 5rem;
}

.right > h1 {
  margin-top: 7rem;
  font-family: "Poppins", sans-serif;
}

.droite {
  margin-left: 18rem;
}

span {
  font-size: 18px;
  font-weight: bold;
  color: var(--dark-blue);
}
label {
  font-size: 18px;
}
.gauche {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.info {
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: var(--dark-blue);
  font-weight: bold;
  position: relative;
}

.infoinput {
  position: absolute;
  left: 80%;
  width: 279px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.droite {
  display: flex;
  flex-direction: column;
  width: 370px;
  border-left: 1px solid black;
  padding-left: 30px;
}

.container {
  display: flex;
  flex-direction: row;
}

select {
  border: none !important;
  border-bottom: 1px solid black !important;
  outline: none !important;
}

#savebutton {
  margin-left: 250px;
}

.infoD {
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: var(--dark-blue);
  font-weight: bold;
  position: relative;
}

.infoD input {
  position: absolute;
  left: calc(80% + 5px); /* Adjust as needed */
  width: 30px; /* Adjust the width of each input field */
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  margin-right: 30px; /* Add spacing between input fields */
}

.infoD input:nth-child(2) {
  left: calc(80% + 75px);
  width: 109px;
}

.infoD input:nth-child(3) {
  left: calc(80% + 230px);
  width: 50px;
}
